body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.navbar-inverse {
    background-color: #b6ff00;
    border-color: #4cff00;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.course {
    list-style: none;
}

.course > li {
position: relative;
margin-bottom: 30px;
}

.course > li .date {
    text-align: center;
    background-color: #b6ff00;
    color: black;
    width: 60px;
    border-radius: 8px;
    margin-top:10px;
}

.course > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
